@import "@/assets/scss/base/reset.scss";

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.align-between {
    align-items: space-between;
  }

  &.align-around {
    align-items: space-around;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.align-evenly {
    align-items: space-evenly;
  }

  &.justify-evenly {
    justify-content: space-evenly;
  }
}

.full-container {
  width: 100vw;
  height: 100vh;
}
