@use "@/assets/scss/abstracts/colors.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .light {
      .text {
        color: $dark-900;
      }

      .background {
        background-color: $dark-000;
      }
    }

    .dark {
      .text {
        color: $white;
      }

      .background {
        background-color: $dark-700;
      }
    }
  }
}
